.HomeHeder {
  .Img {
    animation: move 1.4s infinite ease alternate;
  }
  
  @keyframes move {
    from {
      transform: translateY(-15px);
    }
  
    // to {
    //   transform: translateY(0px) scale(1.03);
    // }
  }
  }
  
  @media (max-width: 600px) {
    .HomeHeder {

      .p-10 {
        padding: 5%;
      }

      .text {
        margin-top: 5%;
      }

      // .flex {
      //   display: block;
      // }
      .pl-3 {
        padding-left: 2%;
        background-size: cover;
        background-position: center;
      }
    }
  }